<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup page</h1>
    <form action="/signup" method="post"><!--action always signup page per hoga-->
        <input type="text" name="username"placeholder="username"><br/>
        <input type="text" name="email"placeholder="email"><br/>
        <input type="password" name="password"placeholder="password">
        <button>Submit</button>
    </form>
</body>
</html>